{{ define "main" }}

<section class="feature-list section">
  <div class="container">
    <div class="row">
      <div class="heading col-12 text-center">
        <h2>{{.Title}}</h2>
      </div>
    </div>
    
    {{ range $index, $element := (where .Site.RegularPages "Section" "blog") }}
    
    <div class="row">
      <div class="col-md-2 align-self-center ">
        <img class="img-fluid" src="{{ .Params.image | absURL }}" alt="">
      </div>
      <div class="col-md-10 text-center text-md-left">
        <div class="content">
          <a href="{{ .Permalink }}"><h2>{{ .Title | markdownify }}</h2></a>
          <p>{{ .Summary }}</p> 
          <!-- <a href="{{ .Permalink }}" >{{ i18n "read_more" }}</a> --> <!-- read more styling removed -->
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}