{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="sticky-image">
          <img class="img-fluid w-100" src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h2>{{.Title | markdownify}}</h2>
      </div>      
      <div class="col-md-8 mx-auto text-justify">
        <br>
        <div class="content">
          <p>{{.Date.Format ("2006-01-02") | markdownify}}</p>
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}