{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.background1.enable }}
{{- with $data.homepage.background1 }}
<section class="section" id="feature">
<div class="parallax section bg-opacity img-fluid" style="background-image: url('{{ .bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 text-center mx-auto">
        <div class="text-white">
          <br><br>
          <h1>{{ .title | markdownify }}</h1>
          <p class="text-white">{{ .content | markdownify }}</p>
        </div>  
      </div>
    </div>
  </div>
</section><!-- #call-to-action close -->
{{- end }}
{{- end }}