{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.banner.enable }}
{{- with $data.homepage.banner }}
<!-- hero area -->
<section class="section" id="feature">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
        	<h1>This is</h1>
        	<br>
          	<h6>{{ .title | markdownify }}</h6>
          <!--           <h1>{{ .content | markdownify }}</h1> -->
</section><!-- header close -->
{{- end }}
{{- end }}