{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.board.enable }}
<section class="team section" id="team">
  <div class="container">
    {{ with $data.homepage.board }}
    <div class="row justify-content-center">
       <div class="col-12">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
      {{ range .item }}
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center">
        <div class="team-block">
           <div class="author-details">
            <a  href="{{ .linkedin }}">
              <h4>{{ .name }}</h4>
              <h5>{{ .designation }}</h5>
            </a>
            <p> <br> </p>
            <img src="{{ .image | absURL }}" alt="{{ .name }}">
            <p>
              <br><br>
              {{ .content1 | markdownify }}
              <br>
              <a  href="{{ .link2 }}">{{ .content2 | markdownify }}</a>
            </p>


          </div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
{{ end }}