{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.features.enable }}
{{- with $data.homepage.features }}
<section class="section" id="feature">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        {{ range .left_side }}
        <div class="row">
          <div class="col-md-1 align-self-center mb-10">
            <i class="h2 {{ .icon }}"></i>
          </div>
          <div class="col-md-11 align-self-center ">

            <!-- <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>-->
            <p class="">{{ .content | markdownify }}</p>
          </div>
        </div>
        {{ end }}
      </div>
      
      <div class="col-md-5 align-self-center">
        <img class="img-fluid " src="{{ .image | absURL }}" alt="">
      </div>

      <div class="col-md-1">
      </div>

      <!-- <div class="col-md-4">
          {{ range .right_side }}
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 {{ .icon }}"></i>
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
        {{ end }} -->
      </div>
    </div>
  </div><!-- .container close -->
</section>
{{- end }}
{{- end }}