{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.section2.enable }}
{{- with $data.homepage.section2 }}
<!-- hero area -->
<section class="section" id="feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 text-center mx-auto">
        <div class="heading">
        	<h2>{{ .title | markdownify }}</h2>
        	{{ range .content_item }}
        	<p>{{ .content | markdownify }}</p>
        	{{end}}
        	<form>    
        		<button type="submit" formaction="/contact" value="contact" class="btn btn-main btn-main-sm">{{ i18n "contact"}}</button>
      		</form>
</section><!-- header close -->
{{- end }}
{{- end }}