{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.section1.enable }}
{{- with $data.homepage.section1 }}
<!-- hero area -->
<section class="section" id="feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 text-center mx-auto">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
          <p>{{ .content | markdownify }}</p>
          <img class="img-fluid" width="1000" src="{{ .image | absURL }}" alt="">
</section><!-- header close -->
{{- end }}
{{- end }}