{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.subscription.enable }}
{{- with $data.homepage.subscription }}
<section class="parallax section bg-opacity img-fluid" style="background-image: url('{{ .bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 text-center mx-auto">
        <br>
        <h2 class="subheading text-white">{{ .title | markdownify }}</h2>
        <p class="text-white">{{ .content | markdownify }}</p>
        <div class="input-group">
          <form action="https://gitlab.us17.list-manage.com/subscribe/post" method="POST" class="w-100" name="mc-embedded-subscribe-form" target="_blank">
            <input type="hidden" name="u" value="13b0a2524a6f02bcb2a56f3e5">
            <input type="hidden" name="id" value="98ce046497">
            <input type="email" id="MERGE0" class="form-control" name="MERGE0" placeholder="{{ .placeholder }}"
              required>
            <button class="btn btn-main btn-submit" type="submit" name="subscribe">{{i18n "subscribe"}}</button>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="{{ site.Params.mailchimp_form_name }}" tabindex="-1">
            </div>
          </form>
        </div><!-- /input-group -->
        <br>
      </div>
    </div>
  </div>
</section><!-- #call-to-action close -->
{{- end }}
{{- end }}