{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      {{ with .Params.office }}
      <div class="col-lg-8">
        <h2 class="subheading text-center mb-10">{{ .Title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
        <ul class="contact-list">
          <li class="mb-3"><a href="tel:{{ .mobile }}"><i class="tf-ion-ios-telephone mr-2"></i>
              {{ .mobile }}</a></li>
          <li class="mb-3"><a href="mailto:{{ .email }}"><i class="tf-ion-email mr-2"></i>{{ .email }}</a></li>
          <li class="mb-3"><a href="{{ .location1 }}"><i class="tf-ion-ios-location mr-2"></i>{{ .address1 }} ({{ .address2 }})</a></li>
        </ul>
      </div>
      {{ end }}

    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <form action="{{ site.Params.contact_form_action }}" method="POST" class="row">
          <div class="col-lg-6 mb-3">
            <input type="text" class="form-control mb-2" id="name" name="name" placeholder="Your Name">
          </div>
          <div class="col-lg-6 mb-3">
            <input type="email" class="form-control mb-2" id="email" name="email" placeholder="Your Email">
          </div>
          <div class="col-12 mb-3">
            <textarea name="message" id="message" class="form-control mb-2" placeholder="Your Message"></textarea>
          </div>
          <div class="col-12 text-right">
            <button type="submit" value="send" class="btn btn-main btn-main-sm">{{ i18n "send" }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{{ end }}